<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: header"/>
<body>
<head th:replace="fragments/head :: navbar"/>
<h1 align="center" th:text="'Customers, ' + ${name_product}"/>
<div class="container">
    <div class="col-10 mx-auto">
        <h2>list:</h2>
        <table class="table table-success table-striped">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <th scope="row" th:text="${customer.id}">1</th>
                <th scope="row" th:text="${customer.name}">1</th>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/index/product_list}">Back</a>
    </div>
</div>
<footer th:replace="fragments/footer :: scripts"/>
</body>
</html>