<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: header"/>
<body>
<head th:replace="fragments/head :: navbar"/>
<div class="container">
    <form th:action="@{form_product}" th:method="post" th:object="${product}">
        <input type="hidden" th:field="*{id}">
        <div class="mb-3">
            <label>Product name</label>
            <input type="text" class="form-control" th:field="*{title}" placeholder="Enter name">
        </div>
        <div class="mb-3">
            <label>Product cost</label>
            <input type="text" class="form-control" th:field="*{cost}" placeholder="Enter cost">
        </div>
        <button type="submit" class="btn btn-primary">Add product</button>
    </form>
</div>
<footer th:replace="fragments/footer :: scripts"/>
</body>
</html>