<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: header"/>
<body>
<head th:replace="fragments/head :: navbar"/>
<h1 align="center" th:text="Orders" />
<div class="container">
    <div class="col-10 mx-auto">
        <h2>list:</h2>
        <table class="table table-success table-striped">
            <thead>
            <tr>
                <th scope="col">Customer name</th>
                <th scope="col">Product title</th>
                <th scope="col">Purchase price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <th scope="row" th:text="${order.customer_name}">1</th>
                <th scope="row" th:text="${order.product_title}">1</th>
                <th scope="row" th:text="${order.order_cost}">1</th>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/index/product_list}">Back</a>
    </div>
</div>
<footer th:replace="fragments/footer :: scripts"/>
</body>
</html>